/**************************** GENERAL ****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/**************************** UTILITY ****************************/
/******* CONTAINTERS *******/
.w-full {
    width: 100%;
}

/********* FLEXBOX *********/
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}