/**************************** GENERAL ****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/**************************** UTILITY ****************************/
/******* CONTAINTERS *******/
.w-full {
  width: 100%;
}

.centered {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

/********* FLEXBOX *********/
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/********** LISTS **********/
.list-style-none {
  list-style: none;
}

/****************************  HEADER ****************************/
.header {
  color: #f9faf8;
  background-color: #1f2938;
  padding-top: 14px;
  padding-bottom: 14px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
}

.navbar-list {
  gap: 24px;
}

.nav-link:link,
.nav-link:visited {
  font-size: 18px;
  color: #f9faf8;
  text-decoration: none;
  padding: 4px 2px;
}

.nav-link:focus {
  outline: 1px solid #f9faf8;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #f9faf8;
}